/* Цвета */
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
html {
  color: #ebece6;
  background-color: #16131a;
}
body {
  color: #ebece6;
  background-color: #24232e;
}
::-webkit-scrollbar-thumb {
  background-color: #16131a;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
#theme-switch {
  cursor: pointer;
  background: url(../imgs/icons/theme_light.png) center center no-repeat;
  background-size: contain;
}
/* Меню */
.menu {
  transition: 0.2;
  color: #ebece6;
  background-color: #16131a;
}
.menu-block-a {
  color: #ebece6;
}
.menu-block-a:hover {
  color: #ebece6;
}
.menu-block-a span {
  color: #ebece6;
}
.button {
  background-color: #473857;
  color: #ebece6;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.button:hover {
  box-shadow: 0 15px 20px rgba(22, 19, 26, 0.6);
  color: #ebece6;
}
/* Заголовок секции */
.section-header h2 {
  color: #ebece6;
}
/* Модальное окно */
.popup {
  color: #ebece6;
}
.popup-close-icon {
  color: #ebece6;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.authentification {
  color: #ebece6;
  background-color: #212121;
}
.authentification form p {
  color: #ebece6;
}
.authentification form p a {
  color: #ebece6;
}
.authentification .msg {
  background-color: #212121;
  color: #eb4f3c;
}
.authentification .msg-good {
  color: #54c99b;
}
.authentification .logout {
  color: #b7625c;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.quiz {
  background-color: #b6c0bb;
}
.quiz-header h1 {
  background-color: #b6c0bb;
}
.quiz .section-header h2 {
  color: #16131a;
}
.quiz .second-part {
  background-color: #16131a;
}
.quiz .pass {
  border-color: #16131a;
  color: #16131a;
}
.quiz .pass:hover {
  color: #ebece6;
  border-color: #473857;
}
.quiz-progress-block {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.8);
  color: #ebece6;
}
.quiz-progress-block .wrap-task-name .task-name {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.22);
  background-color: #84a2b5;
  color: #16131a;
}
.quiz-progress-block-type .wrap .score-checkbox + label::before {
  border: 3px solid #84a2b5;
}
.quiz-progress-block-type .wrap .score-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #ebece6;
}
.quiz-progress-block-type .wrap .score-checkbox:not(:disabled):active + label::before {
  background-color: #84a2b5;
  border-color: #84a2b5;
}
.quiz-progress-block-type .wrap .score-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.5rem rgba(132, 162, 181, 0.25);
}
.quiz-progress-block-type .wrap .score-checkbox:focus:not(:checked) + label::before {
  border-color: #84a2b5;
}
.quiz-progress-block-type .wrap .score-checkbox:checked + label::before {
  border-color: #84a2b5;
  background-color: #84a2b5;
  color: #ebece6;
}
.quiz-progress-block-type .wrap .score-slider {
  background-color: #16131a;
}
.quiz-progress-block-type .wrap .score-slider::-webkit-slider-thumb {
  border-top: 12px solid #84a2b5;
  border-left: 7.5px solid #84a2b5;
  border-right: 7.5px solid #84a2b5;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.profile {
  background: #16131a url(../imgs/backgrounds/profile.jpg) center center no-repeat;
  background-size: cover;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.progress-block {
  color: #16131a;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.22);
}
.progress-block .wrap-task-name .task-name {
  background-color: #e2e2bc;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.22);
}
.progress-block-red {
  background-color: #eb4f3c;
}
.progress-block-yellow {
  background-color: #eba63c;
}
.progress-block-green {
  background-color: #54c99b;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.choose-theory-block:hover {
  box-shadow: 0px 6px 0px #605661, 0px -3px 8px rgba(22, 16, 26, 0.8);
}
.choose-theory-header {
  background-color: #7B6F7D;
  color: #ebece6;
}
.theory-header-main {
  border-bottom: 5px solid #ebece6;
}
.theory ul li::before {
  color: #676c7d;
}
.theory .example {
  border: 4px solid #676c7d;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.choose-test-block {
  background-color: #7B6F7D;
}
.choose-test-header {
  border-bottom: 7px solid #24232e;
}
.choose-test-recom-green {
  color: #54c99b;
}
.personal-test-block {
  box-shadow: 0 4px 20px -12px rgba(0, 0, 0, 0.8);
  background-color: #676c7d;
  color: #ebece6;
  border: 0px solid #16131a;
}
.personal-test-block:hover {
  box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.8);
}
.personal-test .second-part {
  background-color: #473857;
}
.personal-test .huge-block .huge-answer {
  color: #ebece6;
  background: transparent;
}
.personal-test .huge-block .huge-answer::placeholder {
  color: transparent;
}
.personal-test .huge-block label {
  color: rgba(242, 240, 240, 0.8);
}
.personal-test .huge-block .huge-answer:focus {
  border-image: linear-gradient(to right, #676c7d, #473857);
}
.personal-test .huge-block .huge-answer:focus ~ label {
  color: #676c7d;
}
.inactive {
  background-color: #212121 !important;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
