/* Цвета */
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
html {
  color: #16131a;
  background-color: #ebece6;
}
body {
  color: #16131a;
  background-color: #D8DDDA;
}
::-webkit-scrollbar-thumb {
  background-color: #b6c0bb;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
/* Меню */
#theme-switch {
  cursor: pointer;
  filter: none;
  background: url(../imgs/icons/theme_dark.png) center center no-repeat;
  background-size: contain;
}
.menu {
  color: #16131a;
  background-color: #b6c0bb;
}
.menu-block-a {
  color: #16131a;
}
.menu-block-a:hover {
  color: #16131a;
}
.button {
  background-color: #473857;
  color: #ebece6;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.button:hover {
  box-shadow: 0 15px 20px rgba(22, 19, 26, 0.6);
  color: #ebece6;
}
/* Заголовок секции */
.section-header h2 {
  color: #16131a;
}
/* Модальное окно */
.popup {
  color: #ebece6;
}
.popup-close-icon {
  color: #ebece6;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.authentification {
  color: #ebece6;
  background-color: #212121;
}
.authentification form p {
  color: #ebece6;
}
.authentification form p a {
  color: #ebece6;
}
.authentification .msg {
  background-color: #212121;
  color: #ec5745;
}
.authentification .msg-good {
  color: #63cea4;
}
.authentification .logout {
  color: #b7625c;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.quiz {
  background-color: #b6c0bb;
}
.quiz-header h1 {
  background-color: #b6c0bb;
}
.quiz .section-header h2 {
  color: #16131a;
}
.quiz .second-part {
  background-color: #16131a;
}
.quiz .pass {
  border-color: #16131a;
  color: #16131a;
}
.quiz .pass:hover {
  color: #ebece6;
  border-color: #473857;
}
.quiz-progress-block {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.8);
  color: #ebece6;
}
.quiz-progress-block .wrap-task-name .task-name {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.22);
  background-color: #84a2b5;
  color: #16131a;
}
.quiz-progress-block-type .wrap .score-checkbox + label::before {
  border: 3px solid #84a2b5;
}
.quiz-progress-block-type .wrap .score-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #ebece6;
}
.quiz-progress-block-type .wrap .score-checkbox:not(:disabled):active + label::before {
  background-color: #84a2b5;
  border-color: #84a2b5;
}
.quiz-progress-block-type .wrap .score-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.5rem rgba(132, 162, 181, 0.25);
}
.quiz-progress-block-type .wrap .score-checkbox:focus:not(:checked) + label::before {
  border-color: #84a2b5;
}
.quiz-progress-block-type .wrap .score-checkbox:checked + label::before {
  border-color: #84a2b5;
  background-color: #84a2b5;
  color: #ebece6;
}
.quiz-progress-block-type .wrap .score-slider {
  background-color: #16131a;
}
.quiz-progress-block-type .wrap .score-slider::-webkit-slider-thumb {
  border-top: 12px solid #84a2b5;
  border-left: 7.5px solid #84a2b5;
  border-right: 7.5px solid #84a2b5;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.profile {
  background: #ebece6 url(../imgs/backgrounds/profile_white.jpg) center center no-repeat;
  background-size: cover;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.progress {
  color: #16131a;
}
.progress-block {
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.22);
}
.progress-block .wrap-task-name .task-name {
  background-color: #e2e2bc;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.22);
}
.progress-block-red {
  background-color: #EC5745;
}
.progress-block-yellow {
  background-color: #ECAA44;
}
.progress-block-green {
  background-color: #63CEA4;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.choose-theory-block:hover {
  box-shadow: 0px 6px 0px #507085, 0px -3px 5px rgba(22, 16, 26, 0.3);
}
.choose-theory-header {
  background-color: #84A2B5;
}
.theory-header-main {
  border-bottom: 5px solid #16131a;
}
.theory ul li::before {
  color: #473857;
}
.theory .example {
  border: 4px solid #bdbfc9;
}
/* ----------------------------------------------------------------------------------------
----------------------------------------------------  */
.choose-test-block {
  background-color: #84A2B5;
}
.choose-test-header {
  border-bottom: 8px solid #d8ddda;
}
.choose-test-recom {
  border-bottom: 8px solid #D8DDDA;
}
.choose-test-recom-green {
  background-color: #63cea4;
}
.choose-test-recom-yellow {
  background-color: #ecaa44;
}
.personal-test-block {
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.4);
  background-color: #bdbfc9;
  color: #16131a;
  border: 0px solid #16131a;
}
.personal-test-block:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.personal-test .second-part {
  color: #ebece6;
  background-color: #473857;
}
.personal-test .huge .huge-block .huge-answer {
  border-bottom: 2px solid #16131a;
  color: #16131a;
  background: transparent;
}
.personal-test .huge .huge-block .huge-answer::placeholder {
  color: transparent;
}
.personal-test .huge .huge-block label {
  color: #16131a;
}
.personal-test .huge .huge-block .huge-answer:focus {
  border-bottom: 2px solid #473857;
}
.personal-test .huge .huge-block .huge-answer:focus ~ label {
  color: #473857;
}
.results .huge-answers-right {
  border: 3px solid #16131a;
}
.results .huge-answers-user {
  border: 3px solid #16131a;
}
.inactive {
  background-color: #212121 !important;
}
footer {
  background: #D8DDDA;
}
footer .footer-block a {
  color: #16131a;
}
