@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica_cyr.eot');
    src: url('Helvetica_cyr.eot?#iefix') format('embedded-opentype'),
        url('Helvetica_cyr.woff2') format('woff2'),
        url('Helvetica_cyr.woff') format('woff'),
        url('Helvetica_cyr.ttf') format('truetype'),
        url('Helvetica_cyr.svg#Helvetica_cyr') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

